.collapse a {
    color: black !important;
}
#heroSection {
    background-image: url(../assets/images/architect.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.text {
    letter-spacing: 5px;
}
#br-text {
    padding: 8px 20px;
}
.btn, 
#floatingInput {
    border-radius: 0%;
    
}
.btn-dark:hover {
    background-color: lightgrey; 
    color: black;
}