/* Navbar */
.nav a{
    color: white !important;
}
.nav-item .dropdown-item {
    color: black !important;
}
/* Heading */
h2 {
    letter-spacing: 2px !important;
    font-family: sans-serif !important;
}
h6 {
    font-style: italic !important;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
.opacity {
    opacity: 0.50;
}
.justify {
    text-align: justify;
}
/* Tour Dates */
.backGround {
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Footer */
.image {
    width: 130% !important; 
    max-width: 100% !important;
    height: auto !important;
}
.fa-brands:hover {
    opacity:0.6 ;
}
/* Contact */
.icons {
    list-style-type: none;
}
.icons li {
    margin-bottom: 18px !important;
}
.icons .fa-sharp {
    width: 30px;
}
/* Form */
input  {
    padding: 8px;
    border: 1px solid #ccc;
}
/* Button */
.rightbtn {
    float: right !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    margin-right: 50px !important;
    background-color: #000;
    color: #fff;
    border: none;
}
.rightbtn:hover {
    background-color: #ccc;
    color: #000;
}