.nav a{
    color: white !important;
}
i {
    margin-left: 730px !important;
}
h2 {
    letter-spacing: 2px !important;
    font-family: sans-serif !important;
}
h6 {
    font-style: italic !important;
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
.opacity {
    opacity: 0.50;
}